* {
    margin:0;
    padding:0;
    box-sizing:border-box;

}

:root {
    --bg-color:#FFFFFF;
    --head:#0DB760;
    --text:#000000;
}

/* font-family: 'Open Sans', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Shantell Sans', cursive; */

body {
    background-color: #FFFFFF;
   
}

.logo {
    color: #0DB760;
    margin-left:5%;
    margin-top: 2%;
    
}



.nav {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: -5.5%;
    width: 15%;
    
}

li {
    margin-right: 15%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
}

.download {
    position: relative;
    left: 80%;
    top: -5.5vh;
    
}

.container {
    display: flex;
    justify-content: center;
    
}

.circle {
    display:flex;
    border: 1px solid #0DB760;
    width: 0.01px;
    justify-content: center;
    border-radius: 100%;
    margin-top:20%;
    margin-left:5%;
    margin-bottom: 3%;
}

.f {
    color:#0DB760;
    font-family: 'Poppins', sans-serif;
    font-size: 0.01px;
}

.link {
    text-decoration:none;
    color:black;
    margin-right: 15%;
    font-size: 1rem;
}

.head {
    color:#000000;
    margin-left: 5%;
    font-family: 'Open Sans', sans-serif;
}

span {
    color: #0DB760;
}

.square-border{
    margin-top: -18%;
    margin-left:60%;
    border:2px solid #000000;
    width: 25%;
    border-radius: 20%;
    padding-bottom: 25%;
}

.square {
    width: 25%;
    padding-bottom: 25%;
    border: 2px solid #0DB760;
    margin-left: 65%;
    margin-top: -15%;
    background-color: #0DB760;
    border-radius: 20%;
}

.image {
    width:20%;
    margin-top:-25%;
    margin-left:62.5%;
    border-radius: 20%;
    border: 2px solid #0DB760;
    margin-bottom: 4%;
}

.image-container {
    margin-top: -20%;
}

.para1 {
    color: #878686;
    font-family: 'Poppins', sans-serif;
    margin-top: -12%;
    margin-left: 5%;
}

.main {
    margin-top: -10%;
}
.btn-grp {
    margin-left: 5%;
    margin-top: 2%;
}

.btn {
    background-color: #0DB760;
    padding: 1% 1% 1% 1% ;
    border-radius: 10%;
    border: none;
    margin-right: 2%;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

.btn1 {
    background-color: transparent;
    padding: 1% 1% 1% 1%;
    border: none;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}
.btn2 {
    background-color: transparent;
    padding: 1% 1% 1% 1%;
    border:2px solid #0DB760;
    border-radius: 15%;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}
#btn3 {
    
  position: relative;
  top:50%;
  left:46%;
  background-color: #0DB760;
  padding: 1% 1% 1% 1% ;
  border-radius: 10%;
  border: none;
  margin-right: 2%;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
}

a {
    text-decoration: none;

}

button:hover{
    cursor: pointer;
}

.headsk{
    color: black;
    font-family: 'Shantell Sans', cursive;
    margin-left: 2rem;
    margin-top: 5rem;
}

@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400&display=swap');


.card{
    width: 300px;
    height: 425px;
    margin-left:25%;
    margin-top:-10%;
    background-color: white;
    border-radius: 10px;
    border: 5px solid #0DB760;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    transition: all 0.6s ease;
}
.card-1{
    width: 300px;
    height: 425px;
    margin-left:55%;
    margin-top:-34.5%;
    background-color: white;
    border-radius: 10px;
    border: 5px solid #0DB760;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    transition: all 0.6s ease;
}

.card:hover{
    box-shadow: #0DB760 -10px 10px, #0DB760 -20px 20px ;
}
.card-1:hover{
    box-shadow: #0DB760 -10px 10px, #0DB760 -20px 20px ;
}


.card .img{
    height: 40%;
    background: url("../images/quantum.png");
    background-size: contain;
}
.card-1 .img-1{
    height: 40%;
    background: url("../images/advent.png");
    background-size: contain;
}


.card .content{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-weight: 300;
}
.card-1 .content{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-weight: 300;
}

.card .content h3{
    width: 200px;
    font-weight: 300;
    font-size: 30px;
    padding-bottom: 5px;
    border-bottom: 4px solid #FFAC1C;
}
.card-1 .content h3{
    width: 200px;
    font-weight: 300;
    font-size: 30px;
    padding-bottom: 5px;
    border-bottom: 4px solid #FFAC1C;
}

.card .content p{
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.card-1 .content p{
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.card .content a{
    list-style-type: none;
    text-decoration: none;
}

.card-1 .content a{
    list-style-type: none;
    text-decoration: none;
}

.card .content button{
    font-family: 'Londrina Solid', cursive;
    font-weight: 100;
    font-size: 20px;
    color: #FFAC1C;
    width: 100%;
    height: 45px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: #ffac1c26;
    transition: 0.2s ease-in-out;
}
.card-1 .content button{
    font-family: 'Londrina Solid', cursive;
    font-weight: 100;
    font-size: 20px;
    color: #FFAC1C;
    width: 100%;
    height: 45px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: #ffac1c26;
    transition: 0.2s ease-in-out;
}

.card .content button:hover{
    background-color: #ffac1c3f;
    cursor: pointer;
}
.card-1 .content button:hover{
    background-color: #ffac1c3f;
    cursor: pointer;
}



.headco {
    color: #0DB760;
    font-size: 2rem;
    text-align: center;
}

#emailid {
    text-align: center;
    margin-left: 32rem;
    margin-top: 2rem;
    border: 2px solid #0DB760;
    width: 15rem;
    font-size: 1rem;
    font-family: 'Shantell Sans', cursive;
    border-radius: 5rem;
}

#msg {
    text-align: center;
    border: 2px solid #0DB760;
    font-family: 'Shantell Sans', cursive;
    border-radius: 5rem;
    margin-left: 25rem;
    margin-top: 3rem;
    width: 30rem;
    height: 15rem;
    font-size: 1.3rem;
}

#btns {
    background-color: #0DB760;
    padding: 1% 1% 1% 1% ;
    border-radius: 10%;
    border: none;
    margin-right: 2%;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    margin-left: 55rem;
    cursor: pointer;
}
.headawa {
    color: #0DB760;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5%;
}