* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}


/* font-family: 'Comfortaa', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

.pro {
	width:30%;
	height: 30vh;
	margin-left: 65%;
	border-radius: 15px ;

}

.heading {
	color: white;
	font-size: 2rem;
	margin-left: 5%;
	font-family: 'Open Sans', sans-serif;

}

.name {
	font-size: 2.3rem;
	margin-left: 5%;
font-family: 'Montserrat', sans-serif;
color: #0077DA;
}

.desc {
	color: white;
	width: 50%;
	margin-top: 5%;
	margin-left: 10%;
	font-size: 1.2rem;
}

.content {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.btn {
	background: #0077DA;
	width: 10%;
	color: white;
	font-family: 'Poppins', sans-serif;
	margin-left: 5%;
	font-size: 1.2rem;
	margin-top: 3%;
	border-radius: 5px;
	padding: 0.5% 0.5% 0.5% 0.5%;
	border: 2px solid #0077DA;
}
