*,*::before,*::after{
	margin: 0;
	box-sizing: border-box;
	padding: 0;
	
}
/* font-family: 'Comfortaa', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

/*Nav*/

header {
	margin-top: 2%;
	position : fixed;
	margin-left: 61%;
	z-index: 70;
}


ul {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	
}

li {
	list-style-type: none;
	font-family: 'Roboto', sans-serif; 
}


.nav-btn {
	background-color: transparent;
	color: #000;
	width: 7%;
	height: 2rem;
	border: 2px solid black;
	border-radius: 10px;
	float: right;
	margin-top: 1.5%;
	margin-left:  88%;
	font-family: 'Roboto', sans-serif; 
	position: fixed;
	z-index: 70;
}

.nav-btn:hover {
	background-color: gray;
	color: white;
	transition: 300ms ease-in-out;
}


.link{
	text-decoration: none;
	color: black;
}

/*Home*/

.head {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: black;
}

#main {
	background: url('back.jpg');
	background-size: cover;

}

/*About*/

#About {
	background: #000;

}

.heading 
{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: white;
	

}

.fp-noscroll {
    justify-content: flex-start;
    overflow: hidden;
}

.about {
	color: white;
	font-family: 'Comfortaa', cursive;
	margin-top: 3%;
	text-align: center;
}

.btn {
	text-align: center;
	margin-left: 46%;
	margin-top: 3%;
	padding: 1% 1% 1% 1%;
	background: transparent;
	color: white;
	border: 2px solid rgb(18,220,226);
	border-radius: 5px 5px ;
	transition: 500ms ease-in-out;
}

.btn:hover {
	background: rgb(18,220,226);
	color: black;

}



#FAQS {
	background: #59DFF3;
	
}





/* 
.About{
	background-color: #000;
	width: auto;
	
}

.about {
	color: white;
	font-family: 'Montserrat', sans-serif;
	text-transform: capitalize;
	text-align: center;
	font-size: 2.3rem;
	padding-top: 3%;
}

.para {
	color: white;
	font-family: 'Comfortaa', cursive;
	text-align: center;
	font-size: 1.3rem;
	padding-top: 3%;
	padding-bottom: 5%;
	
	}

img {
	width: 30%;
	margin-left: 35%;
	padding-bottom: 5%;
}
  */

/* . main{
	
	background-image: url("back.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: auto;
	height: 100vh;
	margin-top: -46vh;
	



}

.head {
	font-family: 'Montserrat', sans-serif;
	color: #000000;
	text-transform: capitalize;
	text-align: center;
	margin-top: 18%;
	font-size: 2.3rem;
	position: relative;
	top: 35vh;
	left: 55vh;
	width: 25%;
} */